@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #root {
    margin: 0px;
    padding: 20px;
  }
}
@layer components {
  .heading {
    @apply p-4 bg-blue-600 text-white text-center text-3xl my-2;
  }
  .main_slider .slick-prev:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: black;
    background-color: white;
    width: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .main_slider .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: black;
    background-color: white;
    width: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

 
}
