@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  #root {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width:2000px  ;
  }
}
@layer components {
  .btn {
    @apply bg-red-700 hover:bg-red-500 text-white p-2 rounded border-2 border-black;
  }
}
